<div id="frmPost" class="w3-card-4" style="display: none">  
    <div id="tmplPostForm" class="w3-row-padding w3-light-grey">
        <h4>New Post</h4>
        <textarea class="w3-input" id="text" name="text"></textarea>
        <input type="hidden" id="postid" name="postid"/>
        <nav class="w3-topnav">
            <a href="#">
                <i class="fa fa-file-image-o fileselect">Image
                </i>
                <input type="file" id="image" name="image" accept ="image/*" class="upload" style="display: none"/> 
            </a>
            <a href="#">
                <i class="fa fa-file-video-o fileselect">Video
                </i>
                <input type="file" id="video" name="video" accept ="video/*" style="display: none" class="video upload"/>                                     </a>
            <a href="#">
                <i class="fa fa-file-audio-o fileselect">Audio
                </i>
                <input type="file" id="audio" name="audio" accept ="audio/*" style="display: none" class="audio upload"/>     
            </a>
        </nav>                            
        <div>
            <img src="./images/100x100.jpg" alt="Prevew Image" id="preview_image" class="preview"
                style="display:none" width="100px" height="100px"/>
        </div>
        <div>
            <video width="128" height="96" controls style="display:none" id="preview_video" class="preview">
                <source src="">
            </video>
        </div>
        <div>
            <audio controls style="display:none" id="preview_audio" class="preview">
                <source src="">
            </audio>
        </div>
        <div id="lstTags" class="tags">                                                                
        </div>
        <div id="tmplTag" style="display: none">
            <input type="checkbox" name="tags"class="w3-check" id="tmplTag">&nbsp;
            <label>Tag</label>&nbsp;
        </div>    
        <button class="btn btn-primary pull-right w3-grey" id="btnSubmitPost">Post</button>
    </div>
</div>    
 
<div class="w3-card w3-row" id="tmplPost" style="display: none">
    <div class="w3-two-thirds">
        <input type="hidden" name="postid" id="postid"/>
        <div id="text" style="word-wrap: break-word">
            Text
        </div>
        <div>
            <img id="image" src="./images/100x100.jpg" alt="post image" style="max-width:90%; display: none"/>
        </div>
        <div>
            <video width="128" height="96" controls style="display:none" id="video">
                <source src="">
            </video>
        </div>
        <div>
            <audio controls style="display:none" id="audio">
                <source src="">
            </audio>                        
        </div>
        <div id="tags"></div>
        <nav id="wtf" class="w3-topnav">
            <button id="btnLikePost" onclick="btnLikePost(this);"><i class="fa fa-heart-o"></i></a><span id="likecount">0</button>
            <button id="btnSharePost" onclick="btnSharePost(this);"><i class="fa fa-retweet"></i></button><span id="sharecount">0</span>                           
            <button id="btnCommentPost" onclick="btnCommentPost(this);"><i class="fa fa-comment"></i></button><span id="commentcount">0</span>    
            <button id="btnDeletePost" onclick="btnDeletePost(this);"><i class="fa fa-trash"></i></button>
            <button id="btnEditPost" onclick="btnEditPost(this);"><i class="fa fa-pencil"></i></button>
        </nav>
        <div id="divShare">
	        <div id="shared_text" style="word-wrap: break-word">
	        </div>
	        <div>
	            <img id="shared_image" src="./images/100x100.jpg" alt="post image" style="max-width:90%; display: none"/>
	        </div>
	        <div>
	            <video width="128" height="96" controls style="display:none" id="shared_video">
	                <source src="">
	            </video>
	        </div>
	        <div>
	            <audio controls style="display:none" id="shared_audio">
	                <source src="">
	            </audio>                        
	        </div>        
        </div>
        <div id="comments"></div>
    </div>
</div>

<div id="mdlComment" class="w3-modal">
    <input type="hidden" id="postid" name="postid" class="w3-input"/>
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('mdlComment').style.display='none'" class="w3-closebtn">&times;</span>
            <textarea id="text" name="text" class="w3-input w3-border"></textarea><br/>
            <button class="w3-btn" onclick="btnSubmitComment()">Submit</button>
        </div>
    </div>
</div>

<div id="tmplComment">
    <input name="commentid" id="commentid" type="hidden"/>
    <div class="w3-row">
        <div class="w3-quarter">
            <img id="image" src="./images/100x100.jpg" alt="post image" style="max-width:90%; display: none"/>
            <div id="name"></div>
        </div>
        <div class="w3-threequarter" id="text"></div>
    </div>
</div>

<div id="mdlEditBox" class="w3-modal">
    <span onclick="document.getElementById('mdlEditBox').style.display='none'" class="w3-closebtn">&times;</span>
    <div id="frmEdit" class="w3-row-padding w3-light-grey">
        <h4>Edit Post</h4>
        <textarea class="w3-input" id="text" name="text"></textarea>
        <input type="hidden" id="postid" name="postid"/>
        <nav class="w3-topnav">
            <a href="#">
                <i class="fa fa-file-image-o fileselect">Image
                </i>
                <input type="file" id="image_edit" name="image_edit" accept ="image/*" class="upload" style="display: none"/> 
            </a>
            <a href="#">
                <i class="fa fa-file-video-o fileselect">Video
                </i>
                <input type="file" id="video_edit" name="video_edit" accept ="video/*" style="display: none" class="video upload"/>                                     </a>
            <a href="#">
                <i class="fa fa-file-audio-o fileselect">Audio
                </i>
                <input type="file" id="audio_edit" name="audio_edit" accept ="audio/*" style="display: none" class="audio upload"/>     
            </a>
        </nav>                       
        <div>
            <img src="" alt="Prevew Image" id="preview_image_edit" class="preview" 
                style="display:none" width="100px" height="100px"/>
        </div>
        <div>
            <video width="128" height="96" controls style="display:none" id="preview_video_edit" class="preview">
                <source src="">
            </video>
        </div>
        <div>
            <audio controls style="display:none" id="preview_audio_edit" class="preview">
                <source src="">
            </audio>
        </div>
        <div id="lstTags" class="tags">                                                                
        </div>
        <div id="tmplTag" style="display: none">
            <input type="checkbox" name="tags"class="w3-check" id="tmplTag">&nbsp;
            <label>Tag</label>&nbsp;
        </div>    
        <button class="btn btn-primary pull-right w3-grey" id="btnSubmitEdit" onclick="btnSubmitEdit()">Submit</button>
    </div>
</div>       

<div id="mdlShare" class="w3-modal">
    <div class="w3-modal-content" style="width: 500px">
        <div class="w3-container">
            <span onclick="$('#mdlShare').hide();" class="w3-closebtn">&times</span>
            <p>Share This Post</p>
            <textarea cols="50" class="w3-input w3-border" id="text" name="text"></textarea><br/>
            <input type="hidden" class="w3-input" id="post_shared" name="post_shared"/>
            <button id="btnSubmitShare" class="w3-btn">Submit</button>
        </div>
        <div id="posttext"></div>
        <div>
            <img id="postimage" alt="share image" src="./images/100x100.jpg" style="display: none; max-width: 100%"/>
        </div>
    </div>
</div>