<div class="w3-card w3-row" id="tmplPost" style="display: none">
    <div class="w3-two-thirds">
        <div id="text" style="word-wrap: break-word">
            This is my first message
        </div>
        <div>
            <img id="image" src="./images/100x100.jpg" alt="post image" style="max-width:90%; display: none"/>
        </div>
        <div>
            <video width="128" height="96" controls style="display:none" id="video">
                <source src="">
            </video>
        </div>
        <div>
            <audio controls style="display:none" id="audio">
                <source src="">
            </audio>                        
        </div>
        <div id="tags"></div>
        <nav class="w3-topnav">
            <a href="#"><i class="fa fa-heart-o btnLikePost"></i></a><span id="likecount">0</span>
            <span id="share"><a href="#"><i class="fa fa-retweet btnSharePost"></i></a>
                <span id="likecount">0</span>
            </span>
            <a href="#"><i class="fa fa-comment btnCommentPost"></i></a><span id="commentcount">0</span>    
        </nav>
        <div id="comments"></div>
    </div>
</div>


<div id="mdlComment" class="w3-modal">
    <input type="hidden" id="postid" name="postid" class="w3-input"/>
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('mdlComment').style.display='none'" class="w3-closebtn">&times;</span>
            <textarea id="text" name="text" class="w3-input w3-border"></textarea><br/>
            <button class="w3-btn" onclick="btnSubmitComment()">Submit</button>
        </div>
    </div>
</div>
<div id="tmplComment">
    <input name="commentid" id="commentid" type="hidden"/>
    <div class="w3-row">
        <div class="w3-quarter">
            <img id="image" src="./images/100x100.jpg" alt="post image" style="max-width:90%; display: none"/>
            <div id="name"></div>
        </div>
        <div class="w3-threequarter" id="text"></div>
    </div>
</div>
<script>
var rxurl = /(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?/g;

function populatePostList(list, data, currentUser){
    populateList(list, data, $("#tmplPost"), function (newPost, record) {
        var postid = record["postid"];
        newPost.attr("id", "tmplPost" + postid);
        var blogtext = decodeURIComponent(record["text"]);
        newPost.find("#text").html(blogtext.replace(rxurl, function foo(x) { return '<a href="' + x + '">Link</a>' }));
        if (record["liked"] == "1") {
            newPost.find(".btnLikePost").addClass("fa-heart");
            newPost.find(".btnLikePost").removeClass("fa-heart-o");
        }        
        getComments(postid, function (comments) {
            populateList(newPost.find("#comments"), comments, $("#tmplComment"), null, "./uploads/");
            console.log(comments);
        });
    }, "./uploads/")
}

if (!String.prototype.startsWith) {
  String.prototype.startsWith = function(searchString, position) {
    position = position || 0;
    return this.indexOf(searchString, position) === position;
  };
}

function findParent(node, id){
    var parentFound = false;    
    while(node != null && ! parentFound) {
        if (node.attr("id") != undefined)
            parentFound = node.attr("id").startsWith(id);
        if(! parentFound)
            node = node.parent();
    }        
    return node
}

function btnSharePost() {
    console.log("post shared");
}

function btnDeletePost(element) {
    console.log("post deleted");
    var currentPost = findParent($(element), "tmplPost");
    var postid = currentPost.find("#postid").val();
    deletePost(postid, function (res) {
        console.log(res);
        currentPost.hide();
    })
    return false;
}

function btnLikePost() {
    console.log("post liked");
}

function btnCommentPost(element) {
    console.log("post commented");
    var currentPost = findParent($(element), "tmplPost");
    $("#mdlComment").find("#postid").val(currentPost.find("#postid").val());    
    $("#mdlComment").show();
    return false;
}

function btnSubmitComment() {
    $("#mdlComment").hide();
    putComment(inputs2json($("#mdlComment")), function (newCommentRecord) {
        var newCommentDiv = cloneDiv($("#tmplComment"), newCommentRecord, "./uploads/");
        console.log(newCommentDiv);
        newCommentDiv.show();
        newCommentDiv.attr("id", "tmplComment" + newCommentRecord["commentid"]);
        $("#tmplPost" + newCommentRecord["postid"]).find("#comments").append(newCommentDiv);
    })
}
</script>